header{
    display: flex;
    align-items: center;

   
        display: flex;
        justify-content: space-between;
          padding: 1em;   
}
.letra{
    font-size: 2em;
    margin: 1em;
    
}