$corP:#926A97;

$corS:#8F8294;

$corE:#EBB9E4;


header{
    background-color: $corP;
}
.descricao{
    background-color: #8F8294;
      color: #EBB9E4;
}
footer{
    background-color: #8F8294;
    p{
        color: #EBB9E4;
    }
}
.letra{
    color: #EBB9E4;
}
#projcentro{
    background-color: #8F8294;
}
#proj2{
    background-color: #8F8294;
}
#proj3{
    background-color: #8F8294;
}
#proj6{
    background-color: #8F8294;
}

